<div>
    <mat-dialog-content class="cg-modal">
        <h2>Datos guardados</h2>
        <div>
            <ul>
                <li>{{ infoForm.BebidaName }}</li>
                <li>{{ infoForm.Tipo }}</li>
                <li>{{ infoForm.Precio }}</li>
                <li>{{ infoForm.Stock }}</li>
                <li>{{ infoForm.Descripcion }}</li>
            </ul>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</div>