.cg-pages-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding-left: 14px;


    .cg-pages-modal-container {
        background-color: #ccc;
        position: fixed;
        height: auto;
        border-radius: 8px;
        margin-bottom: 880px;
        max-width: 600px;
        width: 100%;
    }

    .cg-pages-modal-container-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cg-pages-modal-container-information-title-style {
        font-size: 44px;
        font-weight: 700;
    }

    .cg-pages-modal-container-button-style {
        width: 100px;
        height: 40px;
        background-color: #119622;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .cg-pages-modal-container {
            max-width: 80%;
        }
    }
}

.cdk-overlay-pane {
    max-width: 100vw !important;
}

.mat-mdc-dialog-surface {
    background-color: #d8d8d8 !important;
}